[Unit]
Description=Date Extension Service
After=syslog.socket
After=network.target

[Service]
Type=forking
OOMScoreAdjust=-100

GuessMainPID=no

WorkingDirectory=/home/DES
ExecStart=/home/DES/des

Restart=always
RestartSec=10

KillSignal=SIGINT

[Install]
WantedBy=multi-user.target