[Unit]
Description=Date Extension Service
After=network.target

[Service]
Type=simple
User=des
Group=des
OOMScoreAdjust=-1000

ExecStart=/usr/bin/DES/des -path-to-config app.conf
Restart=always
RestartSec=10


[Install]
WantedBy=multi-user.target