[Unit]
Description=Date Extension Service
After=syslog.socket
After=network.target

[Service]
Type=forking
OOMScoreAdjust=-100

ExecStart=/usr/bin/DES/des
Restart=always
RestartSec=10


[Install]
WantedBy=multi-user.target